# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# Android related
android/.gradle/
android/app/build/
**/android/app/src/main/res/drawable-*vd/
**/android/app/src/main/res/raw/flutter_assets/
**/android/local.properties

#ignore this devices
/windows
/macos
/linux

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
*.xcworkspace
*.xcuserstate
!ios/Flutter/App.framework
!ios/Flutter/engine/
!ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Flutter/App.framework/
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/ServiceDefinitions-dev.json
